/** Step1 :Initialize the reset practice*/
/** Step2 : Body background color: #344a72*/
/** Step 3 : Remove the underlines from all the links */

/** Step 4 : Style the container id 
4.1 : max-width
4.2 : padding 
4.3 : margin: auto to center the block element
*/

/**Step 5: Style the form-wrap , provide with some color for the form background*/

/*todo: reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #344a72;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

#container {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}

.form-wrap {
  background-color: #fff;
  padding: 15px 25px;
  color: #333;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
}

.form-wrap .form-group input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #49c1ac;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-wrap button:hover {
  background-color: #37a08e;
}

.form-wrap .bottom-text {
  font-size: 12px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}
footer a {
  color: #49c1ac;
}
