/**Combining Selectors*/
/**Method 1 */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #333;
}

/**Font Styling*/
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  /** font-family: sans-serif;*/
  /**color: #333; */
}

h2 {
  font-size: 40px;
  /** font-family: sans-serif;*/
  /**color: #333; */
}

h3 {
  font-size: 30px;
  /** font-family: sans-serif;*/
  /**color: #333; */
}

h4 {
  font-family: 20px;
  text-transform: uppercase;
  text-align: center;
  /** font-family: sans-serif;*/
  /**color: #333; */
}

p {
  font-size: 22px;
  line-height: 1.5;
  /** font-family: sans-serif;*/
  /**color: #333; */
}

li {
  font-size: 20px;
  /** font-family: sans-serif;*/
  /**color: #333; */
}

/**Combining Selectors*/
/**Method 2*/
article header p {
  font-style: italic;
}

#author {
  font-style: italic;
}

/**Combining Selectors*/
/**Method 2*/
footer p {
  font-size: 16px;
}
